@charset "UTF-8";
/* 公共样式 YangFangLing 2019年12月21日 */
body, html, ul, ol, li, dl, dt, dd, p, span, i, em, strong, b, h1, h2, h3, h4, h5, h6, form, img, input, textarea, select, figure, button {
  padding: 0;
  margin: 0; }

body {
  font: 12px/16px "微软雅黑","宋体","Arial Narrow";
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

ul li, ol li {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

i, em {
  font-style: normal; }

img {
  border: none;
  display: block; }

.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-size: 1; }

.content {
  width: 1200px;
  margin: 0 auto; }

/* 公共样式 end */
/* 底部 YangFangLing 2019年12月21日 */
.footer {
  overflow: hidden; }

.footer ul {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  height: 42px;
  line-height: 42px; }

.footer ul li {
  float: left;
  width: 150px; }

.footer ul li a {
  font-size: 12px;
  color: #333; }

.footer ul li a:hover {
  color: #ff3300; }

.footer .footerBot {
  color: #999;
  padding: 15px 0;
  font-size: 12px; }

.footer .footerBot a {
  color: #999;
  margin-left: 10px; }

.footer .footerBot img {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 5px; }

.footer .footerBot a:hover {
  color: #ff3300; }

/* 底部 end */
/* 头部 YangFangLing 2019年12月21日 */
.header-service {
  border-bottom: 1px #e0e0e0 solid; }

.header-service ul li {
  float: left;
  font-size: 12px;
  color: #666;
  width: 240px;
  text-align: center;
  height: 40px;
  line-height: 40px; }

.header-service ul li a {
  color: #333;
  height: 20px; }

.header-service ul li i {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: url("./../img/hearIcon.png") no-repeat 1px -1px/200px 80px;
  vertical-align: middle; }

.header-service ul li i.icon2 {
  background: url("./../img/hearIcon.png") no-repeat 1px -1px/200px 80px; }

/* 头部 end */
