@charset "UTF-8";
/* 公共样式 YangFangLing 2019年12月21日 */
body, html, ul, ol, li, dl, dt, dd, p, span, i, em, strong, b, h1, h2, h3, h4, h5, h6, form, img, input, textarea, select, figure, button {
  padding: 0;
  margin: 0; }

body {
  font: 12px "微软雅黑","宋体","Arial Narrow";
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

ul li, ol li {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

i, em {
  font-style: normal; }

img {
  border: none;
  display: block; }

.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-size: 1; }

.content {
  width: 1200px;
  margin: 0 auto; }

/* 公共样式 end */
/* 底部 YangFangLing 2019年12月21日 */
.footer {
  overflow: hidden; }

.footer ul {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  height: 42px;
  line-height: 42px; }

.footer ul li {
  float: left;
  width: 150px; }

.footer ul li a {
  font-size: 12px;
  color: #333; }

.footer ul li a:hover {
  color: #ff3300; }

.footer .footerBot {
  color: #999;
  padding: 15px 0;
  font-size: 12px; }

.footer .footerBot a {
  color: #999;
  margin-left: 10px; }

.footer .footerBot img {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 5px; }

.footer .footerBot a:hover {
  color: #ff3300; }

/* 底部 end */
/* 头部 YangFangLing 2019年12月21日 */
.header-service {
  border-bottom: 1px #e0e0e0 solid; }

.header-service ul li {
  float: left;
  font-size: 12px;
  color: #666;
  width: 240px;
  text-align: center;
  height: 40px;
  line-height: 40px; }

.header-service ul li a {
  color: #333;
  height: 20px; }

.header-service ul li i {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: url(../img/hearIcon.png) no-repeat 1px -1px/200px 80px;
  vertical-align: middle; }

.header-service ul li i.icon2 {
  background: url(../img/hearIcon.png) no-repeat -40px -1px/200px 80px; }

.header-service ul li i.icon3 {
  background: url(../img/hearIcon.png) no-repeat 0 -40px/200px 80px; }

.header-service ul li i.icon4 {
  background: url(../img/hearIcon.png) -38px -40px/200px 80px no-repeat; }

.header-service ul li i.icon5 {
  background: url(../img/hearIcon.png) no-repeat -78px -40px/200px 80px; }

.y-titme {
  background: #003b66;
  padding: 5px 0;
  color: #fff;
  text-align: center;
  font-size: 12px; }

.y-nav {
  background-color: #0092d8;
  height: 44px;
  line-height: 44px; }
  .y-nav a.logo {
    width: 120px;
    height: 44px;
    display: block;
    overflow: hidden;
    float: left;
    background: url(../img/hearIcon.png) no-repeat -82px 2px/200px 80px; }
  .y-nav ul {
    float: left; }
  .y-nav ul li {
    float: left;
    font-size: 12px; }
  .y-nav ul li a {
    color: #a3c3e6;
    display: block;
    padding: 0 30px; }
    .y-nav ul li a:hover {
      color: #fff; }

.y-navFing {
  float: right; }
  .y-navFing ul li {
    padding: 0 20px;
    float: left;
    color: #fff;
    position: relative; }
    .y-navFing ul li:hover {
      background-color: #006fa3; }
    .y-navFing ul li .y-NavDown {
      background-color: #fff;
      position: absolute;
      overflow: hidden;
      right: 0;
      top: 44px;
      width: 300px;
      border: 1px #e0e0e0 solid;
      z-index: 999;
      display: none; }
      .y-navFing ul li .y-NavDown p {
        text-align: center;
        color: #999; }
      .y-navFing ul li .y-NavDown p a {
        padding: 0;
        color: #0092d8;
        display: inline-block; }
    .y-navFing ul li span {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      background: url(../img/index_sprite.png) -36px -216px no-repeat; }
    .y-navFing ul li:nth-child(3) span {
      background: url(../img/index_sprite.png) -146px -216px no-repeat; }
    .y-navFing ul li:nth-child(2) span {
      background: url(../img/index_sprite.png) -120px -216px no-repeat; }
    .y-navFing ul li:nth-child(1) span {
      background: url(../img/index_sprite.png) -95px -216px no-repeat; }
  .y-navFing .y-ewm {
    position: absolute;
    right: 0;
    top: 44px;
    background-color: #fff;
    width: 200px;
    border: 1px #e0e0e0 solid;
    display: none;
    z-index: 99; }
  .y-navFing .y-ewm strong {
    padding: 15px;
    float: left;
    box-sizing: border-box;
    text-align: center;
    width: 50%; }
    .y-navFing .y-ewm strong img {
      width: 100%; }
    .y-navFing .y-ewm strong em {
      display: block;
      color: #999;
      height: 20px;
      line-height: 20px;
      margin-top: 10px; }

.y-denglu {
  position: absolute;
  right: 0;
  top: 44px;
  background-color: #fff;
  border: 1px #e0e0e0 solid;
  border-top: none;
  width: 200px;
  display: none;
  z-index: 99; }
  .y-denglu a {
    display: inline-block;
    color: #333 !important;
    padding: 0 25px !important;
    height: 40px;
    line-height: 40px;
    border-top: 1px #e0e0e0 solid; }
    .y-denglu a i {
      width: 15px;
      height: 15px;
      display: inline-block;
      vertical-align: middle;
      background: url(../img/atom_sprite.png) no-repeat -284px -44px;
      margin-right: 15px; }
      .y-denglu a i.icon2 {
        background: url(../img/atom_sprite.png) no-repeat -244px -85px; }
      .y-denglu a i.icon3 {
        background: url(../img/atom_sprite.png) no-repeat -284px -23px; }
      .y-denglu a i.icon4 {
        background: url(../img/atom_sprite.png) no-repeat -208px -85px; }
      .y-denglu a i.icon5 {
        background: url(../img/atom_sprite.png) no-repeat -65px -24px; }
      .y-denglu a i.icon6 {
        background: url(../img/atom_sprite.png) -243px -22px no-repeat; }
    .y-denglu a:hover {
      background-color: #eee; }

.y-search {
  position: absolute;
  top: 0;
  right: 0;
  display: none; }
  .y-search input {
    height: 44px;
    width: 250px;
    background-color: #fff;
    border: none;
    padding: 0 10px 0 38px;
    box-sizing: border-box;
    color: #999;
    font-size: 12px;
    outline: none; }
  .y-search button {
    width: 20px;
    outline: none;
    height: 20px;
    display: block;
    border: none;
    position: absolute;
    top: 12px;
    left: 10px;
    cursor: pointer;
    background: url(../img/index_sprite.png) -66px -216px no-repeat; }

.y-nav.cur {
  background-color: #0092d8;
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

/* 头部 end */
.y-kefu-box {
  position: fixed;
  right: 0;
  top: 40%;
  z-index: 9999;
  font-size: 13px; }

.y-kefu-box img {
  display: block;
  width: 100%;
  height: auto; }

/*咨询热线*/
.right {
  width: 12px;
  height: 12px;
  position: absolute;
  right: -12px;
  top: 24px; }

.right-arrow1,
.right-arrow2 {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-top: 6px transparent dashed;
  border-right: 6px transparent dashed;
  border-bottom: 6px transparent dashed;
  border-left: 6px white solid;
  overflow: hidden; }

.right-arrow1 {
  left: 1px;
  border-left: 6px #efefef solid; }

.right-arrow2 {
  border-left: 6px white solid; }

/*客服热线*/
.y-kefu-box02 .kf-mobile-infos {
  width: 320px;
  padding: 0 15px;
  top: 0; }

.y-kefu-box02 .kf-mobile-infos .cont {
  padding: 18px 0 18px 40px;
  position: relative; }

.y-kefu-box02 .kf-mobile-infos .cont i {
  width: 23px;
  height: 23px;
  background-position: -46px -65px;
  position: absolute;
  left: 0;
  top: 22px; }

.y-kefu-box02 .kf-mobile-infos .cont p {
  font-size: 26px;
  color: #333; }

/*在线客服*/
.y-kefu-box02 .more-infos {
  background-color: #fff;
  border: solid 1px #ebebeb;
  position: absolute;
  right: 90px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  display: none; }

.y-kefu-box02 .more-infos:before {
  content: '';
  display: block;
  width: 352px;
  height: 3px;
  background-color: #f30;
  position: absolute;
  left: -1px;
  top: -1px;
  z-index: 9; }

.y-kefu-box02 .online-service-infos {
  width: 320px;
  padding: 0 15px;
  top: 0;
  z-index: 2; }

.y-kefu-box02 .part01 {
  padding: 18px 0 22px 45px;
  border-bottom: solid 1px #e9e9e9;
  position: relative; }

.y-kefu-box02 .part01 p {
  font-size: 16px;
  color: #333;
  padding-bottom: 5px; }

.y-kefu-box02 .part01 i {
  width: 28px;
  height: 26px;
  background-position: -40px -5px;
  position: absolute;
  left: 0;
  top: 18px;
  z-index: 2; }

.y-kefu-box02 .part02 {
  padding: 26px 0; }

.y-kefu-box02 .part02 li {
  width: 86px;
  float: left;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px; }

.y-kefu-box02 .part02 i {
  width: 16px;
  height: 16px;
  background-position: -5px -65px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2; }

.y-kefu-box02 .part02 li:hover a {
  color: #333; }

.y-kefu-box02 .part02 li:hover i {
  background-position: -25px -65px; }

/*------- 客服样式2 -------*/
.y-kefu-box02 .icon {
  display: block;
  background: url(../img/icons02.png) no-repeat;
  margin: 0 auto;
  position: relative; }

.y-kefu-box02 > div {
  width: 48px;
  height: 48px;
  border: solid 1px #e9e9e9;
  margin-bottom: 6px;
  background-color: #fff;
  font-size: 13px;
  color: #999;
  position: relative; }

.y-kefu-box02 > div > p {
  display: none;
  text-align: center;
  position: relative;
  top: 8px; }

.y-kefu-box02 .online-service {
  background-color: #f30;
  border-color: #f30; }

.y-kefu-box02 .online-service > p {
  color: #fff; }

.y-kefu-box02 .online-service > i {
  width: 28px;
  height: 28px;
  top: 10px;
  background-position: -5px -5px; }

.y-kefu-box02 .kf-mobile > i {
  width: 23px;
  height: 23px;
  background-position: -5px -35px;
  top: 12px; }

.y-kefu-box02 .kf-weChat > i {
  width: 22px;
  height: 21px;
  background-position: -40px -35px;
  top: 13px; }

.y-kefu-box02 .back-top > i {
  width: 20px;
  height: 18px;
  background-position: -68px -35px;
  top: 15px; }

.y-kefu-box02 .back-top {
  margin-top: 25px;
  cursor: pointer;
  left: 55px; }

.y-kefu-box02 > div:hover > i {
  display: none; }

.y-kefu-box02 > div:hover > p {
  display: block; }

/*关注微信*/
.y-kefu-box02 .kf-weChat-infos {
  width: 173px;
  height: 190px;
  top: -8px;
  text-align: center; }

.y-kefu-box02 .kf-weChat-infos:before {
  width: 175px; }

.y-kefu-box02 .kf-weChat-infos img {
  width: 120px;
  height: 120px;
  margin: 25px auto 5px; }
