@charset "UTF-8";
.Title {
  text-align: center; }
  .Title h3 {
    font-size: 32px;
    color: #333; }
  .Title a {
    color: #999;
    font-size: 12px;
    margin-top: 15px;
    display: block; }
    .Title a:hover {
      color: #f30; }

.y-member {
  overflow: hidden;
  padding: 40px 0 80px; }
  .y-member ul {
    margin-top: 40px; }
  .y-member ul li {
    float: left;
    text-align: center;
    border: 1px solid #e0e0e0;
    width: 299px;
    padding: 40px 0;
    box-sizing: border-box;
    margin-left: -1px; }
    .y-member ul li:hover img {
      transform: rotateY(360deg);
      position: relative;
      top: -10px; }
    .y-member ul li:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
      position: relative;
      z-index: 9; }
    .y-member ul li:hover em {
      background-color: #f30;
      border: 1px #f30 solid;
      color: #fff; }
    .y-member ul li img {
      width: 187px;
      height: 187px;
      margin: 0 auto;
      transition: .8s;
      position: relative;
      top: 0; }
    .y-member ul li h3 {
      color: #333;
      font-size: 22px;
      margin: 40px 0 10px; }
    .y-member ul li p {
      color: #666;
      font-size: 12px; }
    .y-member ul li em {
      width: 118px;
      height: 38px;
      line-height: 38px;
      border: 1px solid #c8c8c8;
      text-align: center;
      display: block;
      border-radius: 3px;
      margin: 40px auto 0; }

.y-Celebrity {
  overflow: hidden;
  padding: 40px 0 40px; }
  .y-Celebrity .y-box2 {
    padding-bottom: 50px !important;
    height: 600px; }
  .y-Celebrity .y-box {
    border: 1px solid #e0e0e0;
    text-align: center;
    padding-bottom: 35px;
    overflow: hidden; }
    .y-Celebrity .y-box:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
      position: relative;
      z-index: 9; }
    .y-Celebrity .y-box:hover img.img {
      position: relative;
      top: -15px; }
  .y-Celebrity .y-box a {
    display: block; }
  .y-Celebrity .y-box img.img {
    width: 100%;
    padding: 80px 0 20px;
    position: relative;
    top: 0;
    transition: .8s; }
  .y-Celebrity .y-box i {
    width: 84px;
    height: 29px;
    display: block;
    float: right;
    background: url(../img/y-icon2.png) no-repeat center center/100%; }
  .y-Celebrity .y-box h3 {
    font-size: 26px; }
  .y-Celebrity .y-box p span {
    color: #f30;
    margin-right: 10px; }
  .y-Celebrity .y-box p em {
    width: 28px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    background: url(../img/y-icon.png) no-repeat center center/100%; }
  .y-Celebrity .y-box ul {
    margin: 20px 0;
    display: inline-block; }
  .y-Celebrity .y-box ul li {
    float: left;
    border-left: 1px #e0e0e0 solid;
    width: 70px; }
  .y-Celebrity .y-box ul li img {
    width: 30px;
    height: 30px;
    margin: 0 auto; }
  .y-Celebrity .y-box ul li:first-child {
    border-left: none; }
  .y-Celebrity .y-box ul li p {
    color: #999;
    margin-top: 5px; }
  .y-Celebrity .content {
    margin-top: 40px; }
  .y-Celebrity .y-list {
    margin-top: -1px;
    margin-left: 1px; }
  .y-Celebrity .y-list dl {
    float: left;
    width: 300px;
    border: 1px solid #e0e0e0;
    margin-left: -1px;
    text-align: center;
    padding-bottom: 30px;
    overflow: hidden;
    box-sizing: border-box; }
    .y-Celebrity .y-list dl:hover img {
      position: relative;
      top: -15px; }
    .y-Celebrity .y-list dl:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
      position: relative;
      z-index: 9; }
    .y-Celebrity .y-list dl dt img {
      width: 100%;
      padding: 0 35px;
      box-sizing: border-box;
      position: relative;
      top: 0;
      transition: .8s; }
    .y-Celebrity .y-list dl dt i {
      width: 84px;
      height: 29px;
      display: block;
      float: right;
      position: relative;
      z-index: 9;
      background: url(../img/y-icon2.png) no-repeat center center/100%; }
    .y-Celebrity .y-list dl dd p span {
      color: #f30;
      margin-right: 10px; }
    .y-Celebrity .y-list dl dd p em {
      width: 28px;
      height: 12px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      background: url(../img/y-icon.png) no-repeat center center/100%; }
    .y-Celebrity .y-list dl dd h3 {
      font-size: 14px;
      margin: 20px 0 10px; }
  .y-Celebrity .y-left {
    width: 599px;
    float: left; }
    .y-Celebrity .y-left .y-top {
      border: 1px solid #e0e0e0;
      margin-top: -1px;
      padding: 80px 0 80px 40px;
      text-align: center;
      overflow: hidden; }
      .y-Celebrity .y-left .y-top:hover dl dt img {
        position: relative;
        top: -15px; }
      .y-Celebrity .y-left .y-top:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
        position: relative;
        z-index: 9; }
      .y-Celebrity .y-left .y-top dl dt {
        float: right; }
      .y-Celebrity .y-left .y-top dl dt img {
        width: 100%;
        position: relative;
        transition: .8s;
        top: 0; }
      .y-Celebrity .y-left .y-top dl dd {
        float: left;
        position: relative;
        top: 20px; }
        .y-Celebrity .y-left .y-top dl dd h3 {
          font-size: 26px; }
        .y-Celebrity .y-left .y-top dl dd em {
          color: #f30;
          font-size: 14px;
          display: block; }
        .y-Celebrity .y-left .y-top dl dd ul {
          margin: 20px 0;
          display: inline-block; }
        .y-Celebrity .y-left .y-top dl dd ul li {
          float: left;
          border-left: 1px #e0e0e0 solid;
          width: 70px; }
        .y-Celebrity .y-left .y-top dl dd ul li:first-child {
          border-left: none; }
        .y-Celebrity .y-left .y-top dl dd ul li img {
          width: 30px;
          height: 23px;
          margin: 0 auto; }
        .y-Celebrity .y-left .y-top dl dd ul li p {
          margin-top: 5px;
          color: #999; }
  .y-Celebrity .y-right {
    float: right;
    width: 601px;
    margin-top: 2px; }

.y-product {
  overflow: hidden;
  padding-bottom: 40px; }
  .y-product ul li {
    float: left;
    text-align: center;
    width: 300px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    padding: 20px 0; }
    .y-product ul li:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.07); }
    .y-product ul li:hover h3 {
      color: #f30; }
    .y-product ul li h3 {
      font-weight: bold;
      font-size: 18px; }
    .y-product ul li p {
      color: #999;
      font-size: 12px;
      margin-top: 5px; }
    .y-product ul li img {
      margin: 10px auto 0; }

.banner {
  overflow: hidden; }
  .banner:hover .left {
    display: block; }
  .banner:hover .right {
    display: block; }
  .banner .content {
    position: relative; }
  .banner .imgs {
    width: 1200px;
    height: 480px; }
    .banner .imgs img {
      width: 1200px;
      height: 480px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      opacity: 0.1; }
  .banner .left {
    width: 61px;
    height: 61px;
    background: url(../img/fx1.png) 0 0 no-repeat;
    cursor: pointer;
    position: absolute;
    left: 220px;
    top: 50%;
    margin-top: -30.5px;
    z-index: 9999;
    display: none; }
  .banner .right {
    width: 61px;
    height: 61px;
    background: url(../img/fx2.png) 0 0 no-repeat;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
    z-index: 9999;
    display: none; }
  .banner .num {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width: 980px;
    text-align: center;
    height: 35px;
    line-height: 35px; }
    .banner .num .active {
      background-color: #f30;
      color: #fff; }
  .banner .num span {
    display: inline-block;
    width: 10px;
    height: 10px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    background: #fff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer; }

/*侧边导航*/
.y-DownNav {
  width: 220px;
  height: 480px;
  position: absolute;
  z-index: 99999;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px 0;
  box-sizing: border-box; }
  .y-DownNav dl:hover dt {
    background: rgba(0, 0, 0, 0.9); }
  .y-DownNav dl dt {
    height: 56px;
    line-height: 56px;
    box-sizing: border-box;
    padding: 0 20px; }
    .y-DownNav dl dt i.icon01 {
      width: 30px;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      background: url(../img/index_sprite.png) no-repeat 0 0; }
    .y-DownNav dl dt i.icon02 {
      background: url(../img/index_sprite.png) no-repeat -30px 0; }
    .y-DownNav dl dt i.icon03 {
      background: url(../img/index_sprite.png) no-repeat -60px 0; }
    .y-DownNav dl dt i.icon04 {
      background: url(../img/index_sprite.png) no-repeat -90px 0; }
    .y-DownNav dl dt i.icon05 {
      background: url(../img/index_sprite.png) no-repeat -120px 0; }
    .y-DownNav dl dt i.icon06 {
      background: url(../img/index_sprite.png) no-repeat -150px 0; }
    .y-DownNav dl dt i.icon07 {
      background: url(../img/index_sprite.png) no-repeat -180px 0; }
    .y-DownNav dl dt i.icon08 {
      background: url(../img/index_sprite.png) no-repeat -210px 0; }
    .y-DownNav dl dt i.home {
      background: url(../img/index_sprite.png) -68px -188px no-repeat;
      margin-left: 5px;
      display: inline-block;
      vertical-align: middle;
      width: 12px;
      height: 12px; }
  .y-DownNav dl dt em {
    color: #fff; }
  .y-DownNav dl dt span {
    color: #f0f0f0;
    opacity: .5;
    margin-left: 10px; }

.y-EnDown {
  width: 714px;
  height: 480px;
  box-sizing: border-box;
  border: 1px solid #f4f4f4;
  background-color: #fff;
  position: absolute;
  left: 220px;
  top: 0;
  overflow: hidden;
  display: none; }
  .y-EnDown ul.list {
    padding: 24px 0px 0 16px;
    box-sizing: border-box;
    border-right: 1px solid #f4f4f4;
    width: 220px;
    height: 480px;
    float: left; }
  .y-EnDown ul.list li {
    margin-top: 20px; }
    .y-EnDown ul.list li:hover a {
      color: #f30; }
    .y-EnDown ul.list li:first-child {
      margin-top: 0; }
  .y-EnDown ul.list li img {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px; }

.y-text {
  width: 270px;
  height: 480px;
  border-right: 1px solid #f4f4f4;
  float: left; }
  .y-text .box a {
    overflow: hidden;
    display: block;
    padding: 20px;
    box-sizing: border-box;
    border-top: 1px solid #f4f4f4; }
  .y-text .box:first-child a {
    border-top: none; }
  .y-text .box img {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px; }
  .y-text .box h3 {
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    margin-left: 15px; }
    .y-text .box h3 p {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    .y-text .box h3 em {
      display: block;
      color: #f30;
      margin-top: 5px; }

.y-ywls {
  float: left;
  width: 220px;
  height: 480px;
  border-right: 1px solid #f4f4f4; }
  .y-ywls strong {
    text-align: center;
    border-top: 1px solid #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
    display: block; }
    .y-ywls strong:first-child {
      margin-top: none; }
  .y-ywls strong img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto; }
  .y-ywls strong h3 {
    font-size: 14px;
    margin: 20px 0 5px; }
  .y-ywls strong p {
    color: #999;
    font-weight: normal; }
