@charset "UTF-8";
/* banner图 */
.c_q_banner {
  background: url(./../img/c-banner-q.jpg) no-repeat 50%;
  width: 100%;
  height: 680px; }

/* banner图 end */
/* 4大权益 */
.c_q_benifit {
  width: 100%;
  padding-bottom: 100px;
  background-color: #eee;
  display: table; }
  .c_q_benifit .table_title {
    width: 100%;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
    color: #333;
    padding: 110px 0 80px; }
  .c_q_benifit .table_box .left {
    float: left; }
  .c_q_benifit .table_box .right {
    float: right; }

/* 4大权益结束 */
