.y-login {
  overflow: hidden;
  padding: 80px 0; }
  .y-login span.img {
    width: 560px;
    float: left;
    display: block;
    position: relative;
    left: 80px; }
    .y-login span.img img {
      width: 100%; }
  .y-login .loginBox {
    float: right;
    width: 413px;
    min-height: 505px;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    box-shadow: 0 0 8px 0 #d6d6d6;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    right: 80px; }
    .y-login .loginBox h2 {
      font-size: 20px;
      color: #666;
      margin-bottom: 20px; }
    .y-login .loginBox ul {
      padding-bottom: 20px;
      border-bottom: 1px #eee solid; }
    .y-login .loginBox ul li {
      float: left;
      margin-left: 25px; }
      .y-login .loginBox ul li:nth-child(2) i {
        background: url(../img/login.png) no-repeat 0 0; }
      .y-login .loginBox ul li:first-child {
        margin-left: 0; }
      .y-login .loginBox ul li i {
        width: 49px;
        height: 48px;
        display: block;
        background: url(../img/login.png) no-repeat -57px 0; }
    .y-login .loginBox form h3 {
      font-size: 20px;
      color: #666;
      padding: 25px 0 20px; }
    .y-login .loginBox form .input {
      margin-top: 15px; }
      .y-login .loginBox form .input:first-of-type {
        margin-top: 0; }
      .y-login .loginBox form .input a {
        background-color: #0092d8;
        display: block;
        width: 350px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #fff;
        margin-top: 25px; }
    .y-login .loginBox form .input input {
      width: 318px;
      height: 40px;
      line-height: 40px;
      padding: 0 15px;
      outline: none;
      border: 1px #c8c8c8 solid; }
    .y-login .loginBox .login_links {
      color: #999;
      margin-top: 25px; }
      .y-login .loginBox .login_links span {
        margin: 0 15px;
        color: #e0e0e0; }
      .y-login .loginBox .login_links a {
        color: #999; }
        .y-login .loginBox .login_links a:hover {
          color: #f30; }
      .y-login .loginBox .login_links .forget_pwd {
        float: right; }
