@charset "UTF-8";
/* 公共样式 YangFangLing 2019年12月21日 */
body, html, ul, ol, li, dl, dt, dd, p, span, i, em, strong, b, h1, h2, h3, h4, h5, h6, form, img, input, textarea, select, figure, button {
  padding: 0;
  margin: 0; }

body {
  font: 12px "微软雅黑","宋体","Arial Narrow";
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

ul li, ol li {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

i, em {
  font-style: normal; }

img {
  border: none;
  display: block; }

.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-size: 1; }

.content {
  width: 1200px;
  margin: 0 auto; }

/* 公共样式 end */

/* 底部 YangFangLing 2019年12月21日 */
.footer {
  overflow: hidden; }
  .footer ul {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    height: 42px;
    line-height: 42px; }
  .footer ul li {
    float: left;
    width: 150px; }
  .footer ul li a {
    font-size: 12px;
    color: #333; }
  .footer ul li a:hover {
    color: #ff3300; }
  .footer .footerBot {
    color: #999;
    padding: 15px 0;
    font-size: 12px; }
  .footer .footerBot a {
    color: #999;
    margin-left: 10px; }
  .footer .footerBot img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 5px; }
  .footer .footerBot a:hover {
    color: #ff3300; }
/* 底部 end */

/* 头部 YangFangLing 2019年12月21日 */
.header-service {
  border-bottom: 1px #e0e0e0 solid; }

  .header-service ul li {
    float: left;
    font-size: 12px;
    color: #666;
    width: 240px;
    text-align: center;
    height: 40px;
    line-height: 40px; }
  .header-service ul li a {
    color: #333;
    height: 20px; }
  .header-service ul li i {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url(../img/hearIcon.png) no-repeat 1px -1px / 200px 80px;
    vertical-align: middle;
    }
.header-service ul li i.icon2{
	background: url(../img/hearIcon.png) no-repeat -40px -1px / 200px 80px;
}
.header-service ul li i.icon3{
	background: url(../img/hearIcon.png) no-repeat 0 -40px / 200px 80px;
}
.header-service ul li i.icon4{
	background: url(../img/hearIcon.png) -38px -40px / 200px 80px no-repeat;
}
.header-service ul li i.icon5{
	background: url(../img/hearIcon.png) no-repeat -78px -40px / 200px 80px;
}
.y-titme{
	background: rgb(0, 59, 102);
	padding: 5px 0;
	color: #fff;
	text-align: center;
	font-size: 12px;
}
.y-nav{
	background-color: #0092d8;
	height: 44px;
	line-height: 44px;
	a.logo{
		width: 120px;
		height: 44px;
		display: block;
		overflow: hidden;
    float: left;
		background: url(../img/hearIcon.png) no-repeat -82px 2px / 200px 80px;
	}
	ul{
		float: left;
	}
	ul li{
		float: left;
		font-size: 12px;
	}
	ul li a{
		color: #a3c3e6;
		display: block;
		padding: 0 30px;
		&:hover{
			color: #fff;
		}
	}
}
.y-navFing{
  float: right;
  ul li{
      padding: 0 20px;
      float: left;
      color: #fff;
      position: relative;
      &:hover{
      background-color: #006fa3;
  }
  & .y-NavDown{
      background-color: #fff;
      position: absolute;
      overflow: hidden;
      right: 0;
      top: 44px;
      width: 300px;
      border: 1px #e0e0e0 solid;
      z-index: 999;
      display: none;
      & p{
        text-align: center;
        color: #999;
      }
      & p a{
        padding: 0;
        color: #0092d8;
        display: inline-block;
      }
  }
  & span{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/index_sprite.png) -36px -216px no-repeat;
  }
  &:nth-child(3) span{
    background: url(../img/index_sprite.png) -146px -216px no-repeat;
  }
  &:nth-child(2) span{
    background: url(../img/index_sprite.png) -120px -216px no-repeat;
  }
  &:nth-child(1) span{
    background: url(../img/index_sprite.png) -95px -216px no-repeat;
  }
  }
  .y-ewm{
    position: absolute;
    right: 0;
    top: 44px;
    background-color: #fff;
    width: 200px;
    border: 1px #e0e0e0 solid;
    display: none;
    z-index: 99;
  }
  .y-ewm strong{
    padding: 15px;
    float: left;
    box-sizing: border-box;
    text-align: center;
    width: 50%;
    & img{
      width: 100%;
    }
    & em{
      display: block;
      color: #999;
      height: 20px;
      line-height: 20px;
      margin-top: 10px;
    }
  }
}
.y-denglu{
  position: absolute;
  right: 0;
  top: 44px;
  background-color: #fff;
  border: 1px #e0e0e0 solid;
  border-top: none;
  width: 200px;
  display: none;
  z-index: 99;
  & a{
    display: inline-block;
    color: #333 !important;
    padding: 0 25px !important;
    height: 40px;
    line-height: 40px;
    border-top: 1px #e0e0e0 solid;
    & i{
      width: 15px;
      height: 15px;
      display: inline-block;
      vertical-align: middle;
      background: url(../img/atom_sprite.png) no-repeat -284px -44px;
      margin-right: 15px;
      &.icon2{
        background: url(../img/atom_sprite.png) no-repeat -244px -85px;
      }
      &.icon3{
        background: url(../img/atom_sprite.png) no-repeat -284px -23px;
      }
      &.icon4{
        background: url(../img/atom_sprite.png) no-repeat -208px -85px;
      }
      &.icon5{
        background: url(../img/atom_sprite.png) no-repeat -65px -24px;
      }
      &.icon6{
        background: url(../img/atom_sprite.png) -243px -22px no-repeat;
      }
    }
    &:hover{
      background-color: #eee;
    }
  }
}
.y-search{
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  & input{
    height: 44px;
    width: 250px;
    background-color: #fff;
    border: none;
    padding: 0 10px 0 38px;
    box-sizing: border-box;
    color: #999;
    font-size: 12px;
    outline: none;
  }
  & button{
    width: 20px;
    outline: none;
    height: 20px;
    display: block;
    border: none;
    position: absolute;
    top: 12px;
    left: 10px;
    cursor: pointer;
    background: url(../img/index_sprite.png) -66px -216px no-repeat;
  }
}
.y-nav.cur{
  background-color: #0092d8;
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
/* 头部 end */