// 标题 YangFangLing 2019年12月23日
.Title{
  text-align: center;
  & h3{
    font-size: 32px;
    color: #333;
  }
  & a{
      color: #999;
      font-size: 12px;
      margin-top: 15px;
      display: block;
      &:hover{
        color: #f30;
      }
  }
}

// 会员专区 YangFangLing 2019年12月23日
.y-member{
  overflow: hidden;
  padding: 40px 0 80px;
  ul{
    margin-top: 40px;
  }
  ul li{
    float: left;
    text-align: center;
    border: 1px solid #e0e0e0;
    width: 299px;
    padding: 40px 0;
    box-sizing: border-box;
    margin-left: -1px;
    &:hover img{
      transform: rotateY(360deg);
      position: relative;
      top: -10px;
    }
    &:hover{
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: .07);
      position: relative;
      z-index: 9;
    }
    &:hover em{
      background-color: #f30;
      border: 1px #f30 solid;
      color: #fff;
    }
    & img{
      width: 187px;
      height: 187px;
      margin: 0 auto;
      transition: .8s;
      position: relative;
      top: 0;
    }
    & h3{
      color: #333;
      font-size: 22px;
      margin: 40px 0 10px;
    }
    & p{
      color: #666;
      font-size: 12px;
    }
    & em{
      width: 118px;
      height: 38px;
      line-height: 38px;
      border: 1px solid #c8c8c8;
      text-align: center;
      display: block;
      border-radius: 3px;
      margin: 40px auto 0;
    }
  }
}

// 明星单品 YangFangLing 2019年12月23日
.y-Celebrity{
  overflow: hidden;
  padding: 40px 0 40px;
  & .y-box2{
    padding-bottom: 50px !important;
    height: 600px;
  }
  & .y-box{
    border: 1px solid #e0e0e0;
    text-align: center;
    padding-bottom: 35px;
    overflow: hidden;
    &:hover{
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: .07);
      position: relative;
      z-index: 9;
    }
    &:hover img.img{
      position: relative;
      top: -15px;
    }
  }
  & .y-box a{
    display: block;
  }
  & .y-box img.img{
    width: 100%;
    padding: 80px 0 20px;
    position: relative;
    top: 0;
    transition: .8s;
  }
  & .y-box i{
    width: 84px;
    height: 29px;
    display: block;
    float: right;
    background: url(../img/y-icon2.png) no-repeat center center / 100%;
  }
  & .y-box h3{
    font-size: 26px;
  }
  & .y-box p{
    & span{
      color: #f30;
      margin-right: 10px;
    }
  }
  & .y-box p em{
    width: 28px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    background: url(../img/y-icon.png) no-repeat center center / 100%;
  }
  & .y-box ul{
    margin: 20px 0;
    display: inline-block;
  }
  & .y-box ul li{
    float: left;
    border-left: 1px #e0e0e0 solid;
    width: 70px;
  }
  & .y-box ul li img{
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }
  & .y-box ul li:first-child{
    border-left: none;
  }
  & .y-box ul li p{
    color: #999;
    margin-top: 5px;
  }
  .content{
    margin-top: 40px;
  }
  .y-list{
    margin-top: -1px;
    margin-left: 1px;
  }
  .y-list dl{
    float: left;
    width: 300px;
    border: 1px solid #e0e0e0;
    margin-left: -1px;
    text-align: center;
    padding-bottom: 30px;
    overflow: hidden;
    box-sizing: border-box;
    &:hover img{
      position: relative;
      top: -15px;
    }
    &:hover{
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: .07);
      position: relative;
      z-index: 9;
    }
    & dt img{
      width: 100%;
      padding: 0 35px;
      box-sizing: border-box;
      position: relative;
      top: 0;
      transition: .8s;
    }
    & dt i{
      width: 84px;
      height: 29px;
      display: block;
      float: right;
      position: relative;
      z-index: 9;
      background: url(../img/y-icon2.png) no-repeat center center / 100%;
    }
    & dd p{
      & span{
        color: #f30;
        margin-right: 10px;
      }
    }
    & dd p em{
      width: 28px;
      height: 12px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      background: url(../img/y-icon.png) no-repeat center center / 100%;
    }
    & dd h3{
      font-size: 14px;
      margin: 20px 0 10px;
    }
  }
  .y-left{
    width: 599px;
    float: left;
    .y-top{
      border: 1px solid #e0e0e0;
      margin-top: -1px;
      padding: 80px 0 80px 40px;
      text-align: center;
      overflow: hidden;
      &:hover dl dt img{
        position: relative;
        top: -15px;
      }
      &:hover{
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: .07);
        position: relative;
        z-index: 9;
      }
      dl dt{
        float: right;
      }
      dl dt img{
        width: 100%;
        position: relative;
        transition: .8s;
        top: 0;
      }
      dl dd{
        float: left;
        position: relative;
        top: 20px;
        & h3{
          font-size: 26px;
        }
        & em{
          color: #f30;
          font-size: 14px;
          display: block;
        }
        & ul{
          margin: 20px 0;
          display: inline-block;
        }
        & ul li{
          float: left;
          border-left: 1px #e0e0e0 solid;
          width: 70px;
        }
        & ul li:first-child{
          border-left: none;
        }
        & ul li img{
          width: 30px;
          height: 23px;
          margin: 0 auto;
        }
        & ul li p{
          margin-top: 5px;
          color: #999;
        }
    }
  }
  }
  .y-right{
    float: right;
    width: 601px;
    margin-top: 2px;
  }
}

// 产品 YangFangLing 2019年12月23日
.y-product{
  overflow: hidden;
  padding-bottom: 40px;
  ul li{
    float: left;
    text-align: center;
    width: 300px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    padding: 20px 0;
    &:hover{
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: .07);
    }
    &:hover h3{
      color: #f30;
    }
    & h3{
      font-weight: bold;
      font-size: 18px;
    }
    & p{
      color: #999;
      font-size: 12px;
      margin-top: 5px;
    }
    & img{
      margin: 10px auto 0;
    }
  }
}

// banner YangFangLing 2019年12月23日
.banner{
  overflow: hidden;
  &:hover .left{
    display: block;
  }
  &:hover .right{
    display: block;
  }
  .content{
    position: relative;
  }
  .imgs{
    width: 1200px;
    height: 480px;
    & img{
      width: 1200px;
      height: 480px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      opacity: 0.1;
    }
  }
  .left{
    width: 61px;
    height: 61px;
    background: url(../img/fx1.png) 0 0 no-repeat;
    cursor: pointer;
    position: absolute;
    left: 220px;
    top: 50%;
    margin-top: -30.5px;
    z-index: 9999;
    display: none;
  }
  .right{
    width: 61px;
    height: 61px;
    background: url(../img/fx2.png) 0 0 no-repeat;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
    z-index: 9999;
    display: none;
  }
  .num{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width: 980px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    & .active{
      background-color: #f30;
      color: #fff;
    }
  }
  .num span{
    display: inline-block;
    width: 10px;
    height: 10px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    background: #fff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
}

/*侧边导航*/
.y-DownNav{
  width: 220px;
  height: 480px;
  position: absolute;
  z-index: 99999;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.6);
  padding: 15px 0;
  box-sizing: border-box;
  & dl:hover dt{
    background: rgba(0,0,0,0.9);
  }
  dl dt{
    height: 56px;
    line-height: 56px;
    box-sizing: border-box;
    padding: 0 20px;
    & i.icon01{
      width: 30px;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      background: url(../img/index_sprite.png) no-repeat 0 0;
    }
    & i.icon02{
      background: url(../img/index_sprite.png) no-repeat -30px 0;
    }
    & i.icon03{
      background: url(../img/index_sprite.png) no-repeat -60px 0;
    }
    & i.icon04{
      background: url(../img/index_sprite.png) no-repeat -90px 0;
    }
    & i.icon05{
      background: url(../img/index_sprite.png) no-repeat -120px 0;
    }
    & i.icon06{
      background: url(../img/index_sprite.png) no-repeat -150px 0;
    }
    & i.icon07{
      background: url(../img/index_sprite.png) no-repeat -180px 0;
    }
    & i.icon08{
      background: url(../img/index_sprite.png) no-repeat -210px 0;
    }
    & i.home{
      background: url(../img/index_sprite.png) -68px -188px no-repeat;
      margin-left: 5px;
      display: inline-block;
      vertical-align: middle;
      width: 12px;
      height: 12px;
    }
  }
  dl dt em{
    color: #fff;
  }
  dl dt span{
    color: #f0f0f0;
    opacity: .5;
    margin-left: 10px;
  }
}
.y-EnDown{
  width: 714px;
  height: 480px;
  box-sizing: border-box;
  border: 1px solid #f4f4f4;
  background-color: #fff;
  position: absolute;
  left: 220px;
  top: 0;
  overflow: hidden;
  display: none;
  & ul.list{
    padding: 24px 0px 0 16px;
    box-sizing: border-box;
    border-right: 1px solid #f4f4f4;
    width: 220px;
    height: 480px;
    float: left;
  }
  & ul.list li{
    margin-top: 20px;
    &:hover a{
      color: #f30;
    }
    &:first-child{
      margin-top: 0;
    }
  }
  & ul.list li img{
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
  }
}
.y-text{
  width: 270px;
  height: 480px;
  border-right: 1px solid #f4f4f4;
  float: left;
  & .box a{
    overflow: hidden;
    display: block;
    padding: 20px;
    box-sizing: border-box;
    border-top: 1px solid #f4f4f4;
  }
  & .box:first-child a{
    border-top: none;
  }
  & .box img{
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
  }
  & .box h3{
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    margin-left: 15px;
    & p{
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    & em{
      display: block;
      color: #f30;
      margin-top: 5px;
    }
  }
}
.y-ywls{
  float: left;
  width: 220px;
  height: 480px;
  border-right: 1px solid #f4f4f4;
  & strong{
    text-align: center;
    border-top: 1px solid #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
    display: block;
    &:first-child{
      margin-top: none;
    }
  }
  & strong img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
  }
  & strong h3{
    font-size: 14px;
    margin: 20px 0 5px;
  }
  & strong p{
    color: #999;
    font-weight: normal;
  }
}