.c_product{
    height:700px;
    padding-top:30px;
    .content{ 
        // 左侧图片部分
        .con-imgs{
            width:500px;
            height:500px;
            float: left;
            position: relative;
            left:30px;
            img{
                position: absolute;
                width:480px;
                height:480px;
                left: 0;
                top:0;
            }
            .c-01{z-index: -1;}
        }

        // 右侧数据部分
        .con-right{
            width:600px;
            float: left;
            padding-left:70px;
            .con-right-title{
                .con-right-self{
                    color: #F60;
                    line-height: 16px;
                    border: 1px solid #F60;
                    padding: 3PX;
                    margin-right:8px;
                    position: relative;
                    top: -4px;
                }

                .con-right-det{
                    display: inline;
                    font-size: 22px;
                    line-height: 28px;
                    font-weight: 400;
                    overflow: hidden;
                    word-wrap: break-word;
                    word-break: break-all;
                    max-height: 54px;
                }

                .con-price{
                    font-size:32px;
                    font-weight:bolder;
                    color:#f60;
                    margin-top:20px;
                }

                .model-specific{
                    margin-top:30px;
                    h3{
                        float: left;
                        width: 54px;
                        line-height: 34px;
                        font-size: 12px;
                    }
                    .guige{
                        padding:3px;
                        display: inline-block;
                        vertical-align:middle;
                        cursor:pointer;
                        span{
                            padding: 5px 7px;
                            margin-right:5px;
                            height: 26px;
                            line-height: 26px;
                            border: 2px solid #ccc;
                        }
                        .active{
                            border: 2px solid #f60;
                        }
                    }
                    .number{
                        margin-top:30px;
                        .num{
                            input{
                                width: 50px;
                                height: 26px;
                                border: 2px solid #ccc;
                                text-align: center;
                            }
                        }
                    }
                    .addCart{
                        margin: 30px 0;
                        .addCart-btn{
                            display: inline-block;
                            font-size: 14px;
                            height: 40px;
                            line-height: 40px;
                            width: 205px;
                            text-align: center;
                            color: #fff;
                            padding: 0;
                            cursor: pointer;
                            background-color: #0092d8;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}