
/* 顶部开始 coco 191223 */
.c-top{
    box-sizing: border-box;
    height: 80px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding-top: 20px;

    .content{
        height:42px;
        overflow: hidden;
        /* 顶部左部 */
        .c-t-left{
            float: left;
            overflow: hidden;

            .big-title{  
                font-size: 28px;
                font-weight:bold;
                color: #000;
                line-height: 42px;
                float: left;
            }

            .buy-point{
                background: url(../img/b2bIcon.png) no-repeat -2px -86px;
                display: block;
                float: left;
                margin-left: 10px;
                margin-top: 15px;
                width: 167px;
                height: 26px;
            }

        }  

        /* 顶部右部开始 */
        .c-t-right{
            float:right;
            overflow: hidden;
            display:block;
            box-sizing: border-box;

            .c-t-item{
                float:left;
                margin-right: 45px;
                padding-top: 8px;
                display: block;
    
                /* 优惠价格 */
                .icon-price{
                    background: url(../img/b2bIcon.png) no-repeat -52px -55px / 200px 200px;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    overflow: hidden;
                    vertical-align: middle;
                }
    
                /* 多地址配送 */
                .icon-address{
                    background: url(../img/b2bIcon.png) no-repeat 0px -52px / 200px 200px;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    overflow: hidden;
                    vertical-align: middle;
                }
    
                /* 灵活支付 */
                .icon-pay{
                    background: url(../img/b2bIcon.png) no-repeat -85px -54px / 200px 200px;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    overflow: hidden;
                    vertical-align: middle;
                }
    
                /* 美的售后保障 */
                .icon-after{
                    background: url(../img/b2bIcon.png) no-repeat -21px -52px / 200px 200px;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    overflow: hidden;
                    vertical-align: middle;
                }
                .item-text{
                    display: inline-block;
                    position: relative;
                    top: 0;
                    line-height: 18px;
                    margin-left: 5px;
                    font-size: 12px;
                    color: #333;
                }
            }
            .c-last{margin-right:0}
        }  
    }      
}
/* 顶部右部结束 */

/* 顶部结束 coco 191223*/

/* nav start */
.c-nav-list{
   width:100%;

   .content{
       overflow: hidden;
        .c-menu-first{
            float: left;
            a{
                font-weight: bold;
                font-size: 14px;
                height: 45px;
                display: inline-block;
                box-sizing: border-box;
                line-height: 45px;
                border-bottom: 2px solid #0092d8;
            }
        }
        .c-menu-secone{
            float: left;
            margin-left: 48px;

            a{
                font-weight: bold;
                font-size: 14px;
                height: 45px;
                display: inline-block;
                box-sizing: border-box;
                line-height: 45px;
            }
        }
        .c-menu-third{
            float: left;
            margin-left: 48px;
            a{
                font-weight: bold;
                font-size: 14px;
                height: 45px;
                display: inline-block;
                box-sizing: border-box;
                line-height: 45px;
            }
        }
   }
   
}
/* nav end */

/* banner start */
.c-banner{
    img{
        width:100%; 
    }
}
/* banner end */

/* login-wrap start */
.c-login-wrap{
    width:100%;
    border-bottom: 1px solid #ebebeb;
    box-sizing: border-box;

    .content{
        /* c-vip-apply 开始 */
        overflow: hidden;
        .c-vip-apply,.c-login{
            float: left;
            width: 50%;
            padding: 80px;
            box-sizing: border-box;

            /* VIP合约客户专享服务开始 */
            /* 企业客户登录开始 */
            .c-subv-title{
                display: block;
                font-size: 30px;
                font-weight: 100;
                height: 45px;
                line-height: 45px;
                color: #222;
                text-align: center;
                font-family: inherit
            }
            /* 企业客户登录结束 */
            /* VIP合约客户专享服务结束 */

            /* 服务列表开始 */
            .c-service-list{
                overflow: hidden;
                padding-left: 8%;
                margin-top: 33px;
                box-sizing: border-box;
                .c-s-item{
                    float: left;
                    width:31%;
                    text-align: center;

                    .cheaper-icon{
                        background: url(./../img/b2bIcon.png) no-repeat -93px -4px;
                        display: block;
                        margin: 0 auto;
                        width: 40px;
                        height: 40px;
                    }
                    .arrive-pay-icon{
                        background: url(./../img/b2bIcon.png) no-repeat -50px -4px;
                        display: block;
                        margin: 0 auto;
                        width: 40px;
                        height: 40px;
                    }
                    .cus-ser-icon{
                        background: url(./../img/b2bIcon.png) no-repeat 0 0;
                        display: block;
                        margin: 0 auto;
                        width: 40px;
                        height: 40px;
                    }
                    /*文本注释开始*/
                    .c-service-text{
                        margin-top: 8px;
                        color: #999;
                        font-size: 14px;
                        line-height: 20px;
                    }
                    /* 文本注释结束 */
                    
                }

                .v-line-div{
                    width: 1px;
                    height: 56px;
                    float: left;
                    background-color: #ebebeb;
                    box-sizing: border-box;
                }
            }
            /*服务列表结束*/
            .c-apply-now{
                margin-top: 30px;
                clear: both;
                text-align: center;
                box-sizing: border-box;

                // 立即申请开始
                .c-a-button{
                    width: 320px;
                    height: 40px;
                    margin: 0 auto;
                    line-height: 40px;
                    text-align: center;
                    color: #fff;
                    border: 0;
                    border-radius: 2px;
                    transition: all .2s ease-in-out;

                    display: block;
                    background-color: #0092d8;
                    cursor: pointer;
                }
                // 立即申请结束

                // 合约要求开始
                .apply-requ{
                    color: #999;
                    font-size: 12px;
                    margin-top: 15px;
                }
                // 合约要求结束
            }
        }
        /* c-vip-apply 结束 */

        /* 登录注册开始 */
        .c-login{
            float: left;
            width: 50%;
            padding: 80px;
            box-sizing: border-box;
            border-left: 1px solid #ebebeb;

            /* 企业客户登录开始 */
            .c-sub-title{
                display: block;
                font-size: 30px;
                font-weight: 100;
                height: 45px;
                line-height: 45px;
                color: #222;
                text-align: center;
                margin-bottom: 24px;
                font-family: inherit
            }
            /* 企业客户登录结束 */
            .c-login-form{
                width:320px;
                margin:0 auto;

                box-sizing: border-box;
                .c-mail-input,.c-pass-input{
                    margin-top: 18px;
                    box-sizing: border-box;
                    .c-text-input{
                        display: block;
                        box-sizing: border-box;
                        height: 38px;
                        margin: 0 auto;
                        line-height: 18px;
                        padding-left: 10px;
                        border: 1px solid #c8c8c8;
                        border-radius: 2px;
                        width:100%;
                        background: transparent;
                    }
                }
                
                // 登录开始
                .c-login-now{
                    .c-login-btn{
                        display: block;
                        width: 320px;
                        height: 40px;
                        margin: 0 auto;
                        line-height: 40px;
                        text-align: center;
                        background-color: #0092d8;
                        color: #fff;
                        border: 0;
                        cursor: pointer;
                        border-radius: 2px;
                        transition: all .2s ease-in-out;
                        font-family: inherit;
                        margin-top:31px;
                    }
                }
                // 登录结束

                // 注册及找回密码开始
                .c-operation{
                    width: 320px;
                    margin: 0 auto;
                    margin-top: 15px;
                    text-align: right;
                    color: #999;
                    box-sizing: border-box;

                    .c-fill{
                        padding: 0 10px;
                        color: #eee;
                    }

                    .c-text{
                        color:#999;
                    }
                }
            }

        }

        /* 登录注册结束 */
    }  
    
}
/* login-wrap end */

/* 热卖商品开始 */
.c_hot_sale{
    width:100%; 
    padding-bottom: 75px;
    .content{
        // overflow: hidden;
        // 上部标题链接开始
        .c_hs_pic{
            margin-top:55px;
            margin-bottom:55px;
            text-align: center;
            img{
                width:149px;
                height:37px;
                position: relative;
                left:526px;
                margin-bottom: 14px;
            }
            .c_all_goods{
                color:#999;
            }
        }
        // 上部标题链接结束

        // 下部图片排列开始
        .c_hs_img{
            overflow: hidden;
            box-sizing: border-box;
            // 图片左半部分开始
            .c_hs_left{
                width: 600px;
                height: 630px;
                float: left;

                .c_hs_top{
                    padding-right: 15px;
                    a{
                        img{
                            width:100%;
                            height:100%;
                        }
                    }
                }
                .c-hs-bot{
                    overflow: hidden;
                    box-sizing: border-box;
                    padding-top:18px;
                    .c-bot-left{
                        width: 296px;
                        height: 100%;
                        box-sizing: border-box;            
                        padding-right: 7.5px;
                        float: left;
                        a{
                            img{
                                width:100%;
                                height:100%;
                            }
                        }
                    }
                    .c-bot-rig{
                        width: 296px;
                        height: 100%;
                        box-sizing: border-box;
                        padding-right: 7.5px;
                        float: left;
                        a{
                            img{
                                width:100%;
                                height:100%;
                            }
                        }
                    }

                }
            }
        }
        // 图片左半部分结束

        // 图片右半部开始
        .c_hs_right{
            width: 600px;
            height: 630px;
            float: left;
        }
        // 图片右半部结束

        // 下部图片排列结束
    }
}

/* 热卖商品结束 */

/* 购买流程开始 */
.c_purchase_wrap{
    width:100%;
    background-color: #f4f4f4;

    .c-content{
        box-sizing: border-box;
        overflow: hidden;
        padding-top: 60px;
        padding-bottom: 75px;
        // 购买流程标题图开始
        .c_purchase_title{
            text-align: center;
            margin-bottom: 40px;
            img{
                width:150px;
                height: 68px;
                display:inline-block;
            }
        }
        // 购买流程标题图结束

        .c_purchase_con{
           overflow: hidden;
            // 购买流程图展示开始
            .c_purchase_line{
                max-width: 100%;
                height: 48px;
                margin-left: 88px;
                margin-bottom: 18px;
                background: url(./../img/c-process-line.png) no-repeat;
                background-size: contain;
            }
            // 购买流程图展示结束
        // 购买流程图内容开始
           .c_p_step1{
               float: left;
               width:295px;
               margin-left:98px;
           }
           .c_p_step2{
               float: left;
               width:299px;
           }
           .c_p_step3{
               float: left;
               width:321px;
           }
           .c_p_step4{
               float: left;
           }

           .c_process_title{
                font-size: 18px;
                color: #434343;
           }
           .process_detail{
                margin-top: 5px;
                font-size: 12px;
                color: #9f9f9f;
           }
        }
        // 购买流程图内容结束
    }
}
/* 购买流程结束 */
 /* 邮件留言开始 */
 .c_mail_message{
     .content{
        //共用样式开始
        .c_contact_way{
            font-size: 16px;
            color: #333;
            font-weight: 700;
        }
        .c_text{
            color: #999;
            font-size: 12px;
            margin-top: 8px;
        }
        // 共用样式结束
        .c_mail{
            padding-top: 70px;
            padding-bottom: 50px;
            float: left;
            height: 170px;
            width: 598px;
            text-align: center;
            box-sizing: content-box;
            border-right:1px solid #eee;
            .icon_mail{
                background:url(./../img/c-company-sprite.png) no-repeat -8px -370px;
                width: 60px;
                height:60px;
                display:inline-block;
                vertical-align: middle;
            }
            
        }
        .c_message{
            padding-top: 70px;
            padding-bottom: 50px;
            float: left;
            height: 170px;
            width: 598px;
            text-align: center;
            box-sizing: content-box;

            .icon_message{
                background:url(./../img/c-company-sprite.png) no-repeat -62px -370px;
                width: 60px;
                height:60px;
                display:inline-block;
                vertical-align: middle;
            }

            .c_leave_message{
                color: #0093d5;
                cursor: pointer;
                margin-top: 4px;
                display: block;
            }
        }

     }
 }
 /* 邮件留言结束 */

 /* 留言框开始 */
  .c_leave_frame{
    padding: 40px 0 48px 130px;
    display:none;
    // 第一块联系人电话邮箱开始
    .basic_info{
        box-sizing: border-box;
        margin-bottom: 10px;
        .form_item{
            float: left;
            margin-right: 15px;
            width: 285px;
            .c_form_label{
              
               .star{
                   color:red;
               }
            }
        }
        .long_input{
            width: 180px;
            height: 40px;
            line-height: 40px;
            border: 1px solid #ddd;
            padding: 0 10px;
        }
    }
    // 第一块联系人电话邮箱结束

    // 第二块留言内容开始
    .c_text_item{
        height: 102px;
        .star1{
            color: red;
        }
        .c_form_label1{
            position: relative;
            top:-66px;
        }
        .c_textarea{
            width: 780px;
            height: 80px;
            padding: 10px;
            resize: none;
            border: 1px solid #ddd;
        }
    }
    // 第二块留言内容结束

    // 验证码部分开始
    .short_input{
        width:100px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #ddd;
        padding: 0 10px;
    }
    // 验证码部分结束

    // 提交按钮开始
    .c_btn_submit{
        border: 1px solid #0086c2;
        background-color: #0086c2;
        color: #fff;
        display: inline-block;
        width: 98px;
        height: 38px;
        line-height: 38px;
        vertical-align: top;
        text-align: center;
        cursor: pointer;
    }

    // 提交按钮结束
  }
 /* 留言框结束 */

/* 底部广告条开始 */
.c_adv{
    background-color: #f4f4f4;
    padding: 50px 0;
    img{
        width:100%;
    }
}
/* 底部广告条结束 */
