
/* 顶部开始 coco 191223 */
.c-top{
    box-sizing: border-box;
    height: 80px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding-top: 20px;

    .content{
        height:42px;
        overflow: hidden;
        /* 顶部左部 */
        .c-t-left{
            float: left;
            overflow: hidden;

            .big-title{  
                font-size: 28px;
                font-weight:bold;
                color: #000;
                line-height: 42px;
                float: left;
            }

            .buy-point{
                background: url(../img/b2bIcon.png) no-repeat -2px -86px;
                display: block;
                float: left;
                margin-left: 10px;
                margin-top: 15px;
                width: 167px;
                height: 26px;
            }

        }  

        /* 顶部右部 */
        .c-t-right{
            float:right;
            overflow: hidden;
            display:block;
            box-sizing: border-box;
        }

        .c-t-item{
            float: left;
            margin-right: 45px;
            padding-top: 8px;
            display: block;

            /* 优惠价格 */
            .icon-price{
                background: url(../img/b2bIcon.png) no-repeat -52px -55px / 200px 200px;
                width: 20px;
                height: 20px;
                display: inline-block;
                overflow: hidden;
                vertical-align: middle;
            }

            /* 多地址配送 */
            .icon-address{
                background: url(../img/b2bIcon.png) no-repeat 0px -52px / 200px 200px;
                width: 20px;
                height: 20px;
                display: inline-block;
                overflow: hidden;
                vertical-align: middle;
            }

            /* 灵活支付 */
            .icon-pay{
                background: url(../img/b2bIcon.png) no-repeat -85px -54px / 200px 200px;
                width: 20px;
                height: 20px;
                display: inline-block;
                overflow: hidden;
                vertical-align: middle;
            }

            /* 美的售后保障 */
            .icon-after{
                background: url(../img/b2bIcon.png) no-repeat -21px -52px / 200px 200px;
                width: 20px;
                height: 20px;
                display: inline-block;
                overflow: hidden;
                vertical-align: middle;
            }
            .item-text{
                display: inline-block;
                position: relative;
                top: -2px;
                line-height: 18px;
                margin-left: 5px;
                font-size: 12px;
                color: #333;
            }
        }
    }      
}
/* 顶部结束 coco 191223*/

/* nav start */
.c-nav-list{
   width:100%;

   .content{
       overflow: hidden;
        .c-menu-first{
            float: left;
            a{
                font-weight: bold;
                font-size: 14px;
                height: 45px;
                display: inline-block;
                box-sizing: border-box;
                line-height: 45px;
                border-bottom: 2px solid #0092d8;
               
            }
        }
        .c-menu-secone{
            float: left;
            margin-left: 48px;

            a{
                font-weight: bold;
                font-size: 14px;
                height: 45px;
                display: inline-block;
                box-sizing: border-box;
                line-height: 45px;
            }
        }
        .c-menu-third{
            float: left;
            margin-left: 48px;
            a{
                font-weight: bold;
                font-size: 14px;
                height: 45px;
                display: inline-block;
                box-sizing: border-box;
                line-height: 45px;
            }
        }
   }
   
}
/* nav end */

/* banner start */
.c-banner{
    img{
        width:100%; 
    }
}
/* banner end */

/* login-wrap start */
.c-login-wrap{
    width:100%;
    border-bottom: 1px solid #ebebeb;
    box-sizing: border-box;

    .content{
        /* c-vip-apply 开始 */
        .c-vip-apply,.c-login{
            float: left;
            width: 50%;
            padding: 80px;
            box-sizing: border-box;

            /* VIP合约客户专享服务开始 */
            .c-sub-title{
                display: block;
                font-size: 30px;
                font-weight: 100;
                height: 45px;
                line-height: 45px;
                color: #222;
                text-align: center;
                font-family: inherit
            }
            /* VIP合约客户专享服务结束 */

            /* 服务列表开始 */
            .c-service-list{
                overflow: hidden;
                padding-left: 8%;
                margin-top: 33px;
                box-sizing: border-box;
                .c-s-item{
                    float: left;
                    width:31%;
                    text-align: center;

                    .cheaper-icon{
                        background: url(./../img/b2bIcon.png) no-repeat -93px -4px;
                        display: block;
                        margin: 0 auto;
                        width: 40px;
                        height: 40px;
                    }
                    .arrive-pay-icon{
                        background: url(./../img/b2bIcon.png) no-repeat -50px -4px;
                        display: block;
                        margin: 0 auto;
                        width: 40px;
                        height: 40px;
                    }
                    .cus-ser-icon{
                        background: url(./../img/b2bIcon.png) no-repeat 0 0;
                        display: block;
                        margin: 0 auto;
                        width: 40px;
                        height: 40px;
                    }
                    /*文本注释开始*/
                    .c-service-text{
                        margin-top: 8px;
                        color: #999;
                        font-size: 14px;
                    }
                    /* 文本注释结束 */
                    
                }

                .v-line-div{
                    width: 1px;
                    height: 56px;
                    float: left;
                    background-color: #ebebeb;
                    background-color: #ebebeb;
                    box-sizing: border-box;
                }
            }
            /*服务列表结束*/
            .c-apply-now{
                margin-top: 30px;
                clear: both;
                text-align: center;
                box-sizing: border-box;

                // 立即申请开始
                .c-a-button{
                    width: 320px;
                    height: 40px;
                    margin: 0 auto;
                    line-height: 40px;
                    text-align: center;
                    color: #fff;
                    border: 0;
                    border-radius: 2px;
                    transition: all .2s ease-in-out;

                    display: block;
                    background-color: #0092d8;
                    cursor: pointer;
                }
                // 立即申请结束

                // 合约要求开始
                .apply-requ{
                    color: #999;
                    font-size: 12px;
                    margin-top: 15px;
                }
                // 合约要求结束
            }

        }
        /* c-vip-apply 结束 */

        /* 登录注册开始 */
        .c-login{
            float: left;
            width: 50%;
            padding: 80px;
            box-sizing: border-box;

            .c-login-form{
                width:320px;
                margin:0 auto;
                box-sizing: border-box;
                .c-mail-input,.c-pass-input{
                    margin-top: 28px;
                    box-sizing: border-box;
                    .c-text-input{
                        display: block;
                        box-sizing: border-box;
                        height: 38px;
                        margin: 0 auto;
                        line-height: 38px;
                        padding-left: 10px;
                        border: 1px solid #c8c8c8;
                        border-radius: 2px;
                        width:100%;
                        background: transparent;
                    }
                }
                
                // 登录开始
                .c-login-now{
                    .c-login-btn{
                        display: block;
                        width: 320px;
                        height: 40px;
                        margin: 0 auto;
                        line-height: 40px;
                        text-align: center;
                        background-color: #0092d8;
                        color: #fff;
                        border: 0;
                        cursor: pointer;
                        border-radius: 2px;
                        transition: all .2s ease-in-out;
                        font-family: inherit;
                        margin-top:16px;
                    }
                }
                // 登录结束

                // 注册及找回密码开始
                .c-operation{
                    width: 320px;
                    margin: 0 auto;
                    margin-top: 15px;
                    text-align: right;
                    color: #999;
                    box-sizing: border-box;

                    .c-fill{
                        padding: 0 10px;
                        color: #eee;
                    }
                }
            }

            

        }

        /* 登录注册结束 */
    }
    
    
    
}
/* login-wrap end */