
/* banner图 */
.c_q_banner{
    background:url(./../img/c-banner-q.jpg) no-repeat 50%;
    width:100%;
    height:680px;
}
/* banner图 end */

/* 4大权益 */
// display:table 此元素会作为块级表格来显示（类似 <table>），表格前后带有换行符。
.c_q_benifit{
    width: 100%;
    padding-bottom: 100px;
    background-color: #eee;
    display:table;
    // 标题
    .table_title{
        width: 100%;
        font-size: 32px;
        line-height: 32px;
        font-weight: 700;
        text-align: center;
        color: #333;
        padding: 110px 0 80px;
    }
    // 标题结束
    .table_box{
        .left{
            float:left;
        }
        .right{
            float:right;
        }
    }
}
/* 4大权益结束 */
